.page_wrapper {
  //height: 100vh;
  background-color: #e1e1e1;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex: 1 1 auto;
}

.page_container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.page_main {
  display: flex;
  justify-content: space-evenly;
  // flex-direction: row;
  
}

.page_footer {
  padding: 10px;
  height: 100vh;
}

.page_content {
  width: 50%;
  
}