.sidebar_wrapper {
  box-sizing: border-box;
  height: 232px;
  width: 263px;
  padding: 24px 0px;
  background-color: #ffffff;
  //box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sidebar_menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding-left: 15px;

  &_item {
    text-decoration: none;
    color: black;
  }
}

.active {
  font-weight: 700;
}
