.page_footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 120px;
  background-color: #F2F2F2;
  border-radius: 5px;
}

.page_footer_logo {
  display: flex;
}
