.page_footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 120px;
  background-color: #F2F2F2;
  border-radius: 5px;
}

.page_footer_logo {
  display: flex;
  justify-content: space-between;
  width: 32px;
}
.page_logo {
  border-right:1px solid rgb(176, 176, 176); 
  padding-right:10px;
}
